@import '../bower_components/bootstrap/less/bootstrap';

@font-family-base: 'Ek Mukta', sans-serif;

@font-size-base: 16px;
@icon-font-path: '../bower_components/bootstrap/fonts/';

@text-color: black;
@background: #e0e0e0;
@darker-background: #c2c2c2;

@dark-gray: #464547; //(footer)
@darkest-gray: #313032; //(footer copyright)


@import 'globals';
@import 'template-home';
@import 'template-skis';
@import 'template-about';